body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Victor mono Italic",
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Default styles (for desktop) */
.logo {
  height: 40px;
}

/* Media query for mobile devices (max-width: 768px) */
@media (max-width: 768px) {
  .logo {
    height: 60px;
  }
}
